apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-fpm-deployment
  labels:
    app: php-fpm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: php-fpm
  template:
    metadata:
      labels:
        app: php-fpm
    spec:
      containers:
      - name: php-fpm
        image: vishnusatheesan/kubernetes:php_fpm-0.3
        ports:
        - containerPort: 9000

        env:
          - name: DB_HOST
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: db-host

          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: db-name

          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: db-user

          - name: DB_PASS
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: db-password           